.progressBar {
  display: flex;
  align-items: center;
  padding: 0 6px;

  height: 20px;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
}

.progress {
  height: 100%;
  background: linear-gradient(269.99deg, #f5b356 1.27%, #ff9500 99.99%);
  border-radius: 10px;
  height: 9px;
  transition: width 0.5s ease-out;
  border-radius: 8px;
}
